.header-title {
    font-family: 'Playfair Display', serif;
    font-size: 4em;
}

.owl-carousel,
.owl-carousel .owl-item {
    -webkit-tap-highlight-color: transparent;
    position: relative;
}

.owl-carousel {
    display: none;
    width: 100%;
    z-index: 1;
}

.bg-success {
    background-color: transparent !important;
}

.bg-success.d-flex.align-items-center {
    /*width: 100%;*/
}

.header-title {
    font-weight: normal;
    font-family: Oranienbaum, serif;
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: -15px;
    margin-top: 5px;
}

.btn.ani-button:hover {
    background: #d4b068;
    color: #000;
    border-radius: 0px;
    text-transform: uppercase;
}

.ani-button.focus,
.ani-button:focus {
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(0, 0, 0, .25);
}

.ani-button {
    border-radius: 4px;
    background-color: #ffffff;
    border: none;
    color: #000000;
    text-align: center;
    font-size: 16px;
    font-family: 'Playfair Display', serif;
    padding: 15px 35px;
    border-radius: 0px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    letter-spacing: 1px;
}

.ani-button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.ani-button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: -8px;
    right: -20px;
    font-size: 1.4em;
    transition: 0.5s;
}

.ani-button:hover span {
    padding-right: 25px;
}

.ani-button:hover span:after {
    opacity: 1;
    right: 0;
}

.ani-button.focus,
.ani-button:focus {
    outline: 0;
    bax-shadow: 0 0 0 .2rem rgba(0, 0, 0, .25);
}

.btn.btn-primary.ani-button {
    margin-top: 50px;
    border-radius: 2px;
}

.header-content {
    margin-top: 120px;
}

h1,
h2,
h3 {
    font-family: 'Playfair Display', serif;
    color: #000000;
}

.header-content p {
    font-size: 1.5em;
    font-weight: 300;
    color: rgba(255, 255, 255, .7);
}

.header-content .ani-button {
    background: rgba(0, 0, 0, .5);
    color: #fff;
    border: 2px solid rgba(255, 255, 255, .3);
    border-radius: 50px !important;
    padding: 10px 30px;
}

.header-content .ani-button:hover {
    color: #fff;
    border-color: #000000;
    color: #000;
}

.header-phone i {
    color: rgba(255, 255, 255, .5);
}

h2.header-phone {
    font-family: roboto;
    color: #ffffff;
    font-size: 2.5em;
    margin-top: 30px;
}